__pycache__/constants.cpython-39.pyc
__pycache__/ecu_grados.cpython-39.pyc
__pycache__/class_eco.cpython-39.pyc
__pycache__/estability_func.cpython-39.pyc
__pycache__/class_eco.cpython-38.pyc
__pycache__/constants.cpython-38.pyc
__pycache__/ecu_grados.cpython-38.pyc
__pycache__/estability_func.cpython-38.pyc
__pycache__/intercambio_puro_func.cpython-39.pyc


.vscode/settings.json
.idea/
venv/
